#body{
 position:absolute;
 width: 25%;
 height: 400px;
 left: 50%;
 top: 50%;
 margin-left: -275px;
 margin-top: -275px;

 -moz-box-shadow: 2px 2px 3px 3px black;
 -webkik-box-shadow:2px 2px 3px 3px black;
 box-shadow: 2px 2px 3px 3px;
}
button{
 width: 25%;
 height: 100px;
 border: none;
 position: absolute;
 font-size: 45px!important;
 color:white!important;
}
.clicked{
 background-color: #df9fdf;
 border:#bf40bf 2px solid;
}
.buttons{
 background-color: #ff4d94;
 
}
.buttons:hover {
 background-color: #ffb3b3;
 border:gray 1px solid;
}
#btn11{
 top:10px;
 left:10px;
}
#btn12{
 top:10px;
 left:150px;
}
#btn13{
 top:10px;
 left:290px;
}
#btn21{
 top:150px;
 left:10px;
}
#btn22{
 top:150px;
 left:150px;
}
#btn23{
 top:150px;
 left:290px;
}
#btn31{
 top:280px;
 left:10px;
}
#btn32{
 top:280px;
 left:150px;
}
#btn33{
 top:280px;
 left:290px;
}